link(href="http://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
link(href="/materialize/dist/css/materialize.min.css", rel="stylesheet")
script(src="/jquery/dist/jquery.min.js")
script(src="/materialize/dist/js/materialize.min.js")

